NEXT_PUBLIC_ETHERLINK_CHAIN_ID=42793

NEXT_PUBLIC_ETHERLINK_RPC_URL=https://node.mainnet.etherlink.com

NEXT_PUBLIC_ETHERLINK_NETWORK_NAME=Etherlink Mainnet

NEXT_PUBLIC_ETHERLINK_BLOCK_EXPLORER_URL=https://explorer.etherlink.com

NEXT_PUBLIC_GRAPHQL_ENDPOINT=https://bridge.indexer.etherlink.com/v1/graphql

NEXT_PUBLIC_PRECOMPILE_ADDRESS=0xff00000000000000000000000000000000000002

PAGER_DUTY_ROUTING_KEY=

